<div class="mb-4">
    <a href="/" class="btn btn-light">Назад</a>
</div>

<article>
    <h1 class="mb-2"><%= book.title %></h1>
    <p><%= book.authors %></p>
    <p class="lead"><%= book.description %></p>
</article>
