<nav class="navbar mb-4">
    <div class="container">
        <div>
            <a class="navbar-brand" href="/">Книжки</a>
            <a class="btn btn-sm btn-primary" href="/create">Добавить книгу</a>
        </div>

        <div>
            <a class="btn btn-sm" href="/me">Профиль</a>
            <a class="btn btn-sm" href="/logout">Выйти</a>
        </div>
    </div>
</nav>