<div class="list-group books-list">
    <% if (books.length === 0) { %>
            Список книг пуст
    <% } %>

    <% books.forEach(function(book) { %>
        <a href="/view/<%= book.id %>" class="list-group-item-action">
                <% if(book.fileCover) { %>
                        <img style="max-width: 60px" src="<%= book.fileCover %>" alt="">
                <% } %>

                <div>
                        <h4><%= book.title %></h4>
                        <p><%= book.authors %></p>
                </div>
        </a>
    <% }); %>
</div>