<h4 class="mb-4">Профиль</h4>

<ul class="list-group list-group-flush">
    <li class="list-group-item">Id: <b><%= user.id %></b></li>
    <li class="list-group-item">Username: <b><%= user.username %></b></li>
    <li class="list-group-item">Email: <b><%= user.email %></b></li>
</ul>